<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Newsprint
Version    : 1.0
Released   : 20070824
Description: A two-column, fixed-width design for blogs and small websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Library And Its Magics..</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<link href="./drop-down-menu.css" type="text/css" rel="stylesheet">
<script src="./menu.js" type="text/javascript"></script>

<link href="default.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<!-- start header -->
<div id="header">
	<h1><a href="#">Library And Its Magics..</a></h1>
	<p><a href="http://www.google.com/">Presented By Team 5 </a></p>
</div>
<!-- end header -->
<!-- star menu -->
<div id="menu1">

<ul id="menu">
	<li><a href="#" title="Homepage" class="selected">Home</a></li>
	<li><a href="#" title="About Books">Book</a></li>
	<li><a href="#" title="Member">Member</a>
		<ul style="display: none;">
			<li><a href="" title="Add">Add</a></li>
			<li><a href="" title="Update">Update</a>
			<li><a href="" title="Delete">Delete</a>	
			</li>
		</ul>
	</li>
	<li><a href="#" title="Projects">Issue/Return</a>
		<ul style="display: none;">
			<li><a href="" title="Older projects">Add</a></li>
			<li><a href="" title="Active projects">Update</a>
			<li><a href="" title="Active projects">Delete</a>	
			</li>
		</ul>
	</li>
	<li><a href="#" title="Projects">Upload</a>
		<ul style="display: none;">
			<li><a href="" title="Older projects">Add</a></li>
			<li><a href="" title="Active projects">Update</a>
			<li><a href="" title="Active projects">Delete</a>	
			</li>
		</ul>
	</li>
	<li><a href="#" title="Projects">Reports</a>
		<ul style="display: none;">
			<li><a href="" title="Older projects">Add</a></li>
			<li><a href="" title="Active projects">Update</a>
			<li><a href="" title="Active projects">Delete</a>	
			</li>
		</ul>
	</li>
	<li><a href="#" title="Projects">Contacts</a>
		<ul style="display: none;">
			<li><a href="" title="Older projects">Add</a></li>
			<li><a href="" title="Active projects">Update</a>
			<li><a href="" title="Active projects">Delete</a>	
			</li>
		</ul>
	</li>
	
</ul>
<!-- 	<ul> -->
<!-- 		<li class="current_page_item"><a href="#">Home</a></li> -->
<!-- 		<li><a href="#">Book</a></li> -->
<!-- 		<li><a href="#">Member</a></li> -->
<!-- 		<li><a href="#">Issue/Return</a></li> -->
<!-- 		<li><a href="#">Upload</a></li> -->
<!-- 		<li><a href="#">Reports</a></li> -->
<!-- 		<li><a href="#">Contacts</a></li> -->
<!-- 	</ul> -->
</div>
<!-- end menu -->
<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
		<div class="post">
			<div class="title">
				<h2><a href="#">About this Library</a></h2>
				<p><small>Posted on January 14, 2013 by <a href="#">OSS Cube</a></small></p>
			</div>
			<div class="entry">
				<p>A library (from French "librairie"; Latin "liber" = book) is an organized collection of information resources made accessible to a defined community for reference or borrowing. It provides physical or digital access to material, and may be a physical building or room, or a virtual space, or both.
				<p>This library is available as a Management of library Procedures without visiting library physically</a>.</p>
			</div>
			
		</div>
		<div class="post">
			<div class="title">
				<h2><a href="#">Sample Tags</a></h2>
				<p><small>Posted on January 14, 2013 by <a href="#">OSS Cube</a></small></p>
			</div>
			<div class="entry">
				<h3>Latest Books Available at Library:</h3>
				<blockquote>
					<p>&#8220;Donec leo, vivamus nibh in augue at urna congue rutrum. Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.&#8221;</p>
				</blockquote>
				
				<h3>Latest Journals Available at Library:</h3>
				<blockquote>
					<p>&#8220;Donec leo, vivamus nibh in augue at urna congue rutrum. Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.&#8221;</p>
				</blockquote>
				
				
				<h3>Exicted Offers for the Members Onlyy:</h3>
				<blockquote>
					<p>&#8220;Donec leo, vivamus nibh in augue at urna congue rutrum. Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.&#8221;</p>
				</blockquote>
			</div>
			
		</div>
	</div>
	<!-- end content -->
	<!-- start sidebar -->
	
	<div id="sidebar">
		<div id="search">
			<h2>Authenticate</h2>
			<form id="searchform" method="get" action="renderindex.html">
				<div class="email-div"> 
                <label for="Email"><strong class="email-label">Username</strong></label><br/>
                <input type="text" spellcheck="false" name="Email" id="Email" value="" ><br/>
                  </div>
                 <div class="passwd-div"> 
                  <label for="Passwd"><strong class="passwd-label">Password</strong></label><br/>
                  <input type="password" name="Passwd" id="Passwd" ><br/>
                    </div>
                     <br/>
                 <input type="submit" class="g-button g-button-submit" name="signIn" id="signIn" value="Sign in">
                  <label class="remember" onclick="">
                   <input type="checkbox" name="PersistentCookie" id="PersistentCookie" value="yes">
                    <strong class="remember-label">Stay signed in </strong>
                  </label>
                   <input type="hidden" name="rmShown" value="1">
			</form>
		</div>
		<ul>
			<li id="categories">
				<h2>Categories</h2>
				<ul>
					<li><a href="#">Lorem Ipsum</a> (1) </li>
					<li><a href="#">Uncategorized</a> (4) </li>
				</ul>
			</li>
			
			<li id="search">
				<div id="search">
			<h2>Search</h2>
			<form id="searchform" method="get" action="render.php">
				<fieldset>
				<input type="text" name="s" id="s" size="15" value="" />
				<input type="submit" id="x" value="Search" />
				</fieldset>
			</form>
		</div>
			</li>
			<li>
				<h2>Lorem Ipsum Dolor</h2>
				<ul>
					<li><a href="#">Nulla luctus eleifend purus</a></li>
					<li><a href="#">Praesent scelerisque scelerisque</a></li>
					<li><a href="#">Ut nonummy rutrum sem</a></li>
					<li><a href="#">Pellentesque tempus quam quis</a></li>
					<li><a href="#">Fusce ultrices fringilla metus</a></li>
					<li><a href="#">Praesent mattis condimentum</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- end sidebar -->
	<div id="extra" style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
<!-- start footer -->
<div id="footer">
	<p class="legal"> &copy;2013 Team 5. All Rights Reserved.
		&nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Design by <a href="http://www.team5.org/"> OSS Projects</a> </p>
	
</div>
<!-- end footer -->

</html>
